<div class="wrapper">
  <div
    class="content"
    [style.width.px]="width"
    [style.height.px]="height"
    [style.left.px]="positionX"
    [style.top.px]="positionY"
    (mousedown)="startPan($event)"
    (mousemove)="onPan($event)"
    (mouseup)="endPan()"
    (mouseleave)="endPan()"
    (dblclick)="zoomIn($event)"
    (contextmenu)="zoomOut($event); $event.preventDefault()"
  >
    <img
      src="assets/example_image5.jpg"
      [style.width.px]="width"
      [style.height.px]="height"
    />
  </div>
</div>
